p1{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
p2{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
p3{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
p4{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
body{background-image: url(https://i.pinimg.com/564x/60/cb/52/60cb52d115db33f04db22694b6bec86a.jpg);
    background-repeat: no-repeat;
    background-size: cover;}